body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #1e1e1e;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.pagination {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.scroll-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.moving-card-container {
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

.moving-card {
    flex: 0 0 auto;
    width: 200px;
    padding: 15px;
    background: #3d3d3dc0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.moving-card img {
    width: 100%;
    height: 140px;
    object-fit: contain;
    border-radius: 4px;
}

.moving-card-title {
    margin: 10px 0 0;
    font-size: 16px;
    text-align: center;
}

/* Animate the cards */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-268%);
    }
}

.animate {
    animation: scroll 20s linear infinite;
}

.prev-button {
    margin-right: auto;
}

.next-button {
    margin-left: auto;
}

.prev-button,
.next-button {
    background-color: #1e1e1e;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.prev-button:disabled,
.next-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.card {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin: 0;
}

.card p {
    margin: 10px 0;
}

.card a {
    color: #1e90ff;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
}